.jumbotron {
	height: 450px;
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Open Sans, Arial;
}

.navbar .container .navbar-collapse .navbar-right li a {	
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.navbar .navbar-collapse .navbar-right li a:hover {
	color: #fff;
}
.navbar-brand {
	color: #fff;
}

h1 {
	font-size: 72px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	margin-bottom: 20px;
	clear: both;
	padding-top: 100px;
}
h1 span {
	display: inline-block;
	padding: 0.2em 0.5em;
	border: 10px solid #fff;
	color: #FFf;
}
.subtitle {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fff;
	line-height: 1;
}
.bottom {
	width: 100%;
	background-color: #467686;
	color: #fff;
	font-family: Open Sans, Arial;
	bottom:0;
}
.bottom .container {
	padding-top: 20px;
	padding-bottom: 20px;
}
.contact-icons li {
	list-style-type: none;
	padding-bottom: 10px;
}
.contact-icons a, .social-icons i, .social-icons a {
	color: #fff;
}
.contact-icons i {
	padding-right: 10px;
}
.fa-cirlce {
	background-color: #9bbeca;
}





