header {
	height: 450px;
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Open Sans, Arial;
}
.logo {
	width: 50px;
	height: 50px;
	background: #999; /*will add later*/
	float: left;
	margin: 10px 0 0 30px;
}
nav {
	float: right;
}
nav a {
	margin: -5px 20px 0 auto;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(0,0,0, 0.7);
}
nav a:hover {
	color: rgba(0,0,0,0.1);
}
h1 {
	font-size: 72px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	margin-bottom: 20px;
	clear: both;
	padding-top: 100px;
}
h1 span {
	display: inline-block;
	padding: 0.2em 0.5em;
	border: 10px solid #fff;
}
.subtitle {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fff;
	line-height: 1;
}
footer {
	background-color: #334d4d;
	height: 100px;
	font-family: Open Sans, Arial;
}

.copyright {
	text-transform: uppercase;
	margin-bottom: 0px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}

