header {
	height: 450px;
	background: #ccc; /*will add image later*/
	font-family: Open Sans, Arial;
}
.logo {
	width: 50px;
	height: 50px;
	background: #999; /*will add later*/
}
nav a {
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(0,0,0, 0.7);
}
nav a:hover {
	color: rgba(0,0,0,0.1);
}
h1 {
	font-size: 72px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	margin-bottom: 20px;
}
h1 span {
	display: inline-block;
	padding: 0.2em 0.5em;
	border: 10px solid #fff;
}
.subtitle {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fff;
	line-height: 1;
}