html {
	background: url(../img/prince.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}
#container {
	margin: 15% 10%;
	text-align: right;
	color: #fff;
}
#quoteContainer {
	height: 200px;
}
button {
	background-color: #A35A92;
	color: #fff;
	border: 2px solid #fff;
	padding: 10px;
}
button:hover {
	background-color: #fff;
	color: #A35A92;
}