header {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 5px;
}
#nav {
	line-height: 30px;
	background-color: #eeeeee;
	height:800px;
	width: 200px;
	float: left;
	padding: 5px;
}
#main_section {
	width: 750px;
	float:left;
	padding:10px;
}
ul li {
	padding-right: 30px;
	color: #000;
}
ul li a {
	color: #000;
	text-decoration: none;
}
ul li a:hover {
	text-decoration: underline;
	font-weight: bold;
}
.active {
	background-color: #000;
	width: 65px;
	color: #fff;
	font-weight: bold;
}

/* column structure */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}

/* grouping */
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}

/* grid */
.span_1_of_3 {
	width: 32.2%;
}

/* Figures and images */
.crop-img {
	width: 100px;
	height: 50px;
}
.large-img {
	width: 300px;
	height: 150px;
}

/* footer */
footer {
	clear: both;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding:5px;
}