/* NAVBAR SETTINGS */
#main-nav {background-color: #0099CC; color: #fff; border-color: #0099cc; -webkit-transition:all .35s; -moz-transition:all .35s; transition:all .35s;}
.navbar-default .navbar-header .navbar-brand {font-family: 'Inconsolata'; letter-spacing: 2px; font-size: 2em; font-weight: 700; color: #ffffff;}			
.navbar-default .navbar-collapse .navbar-nav .active a {background-color: #0099cc; border: solid 2px #fff;}
.navbar-default .navbar-nav .open .dropdown-menu > li:hover {font-weight:bold; background-color: #0099cc; color: #fff;}
.open > .dropdown-toggle.listMenu {font-weight: bold !important; background-color: #0099cc !important; color: #fff !important; outline: none !important; border: none !important;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {background-color: #fff; color: #0099cc;}
.navbar-default .navbar-collapse .navbar-nav li a {color: #fff;}
.navbar-default .navbar-collapse .navbar-nav li a:hover {font-weight:bold; background-color: #0099cc; color: #fff;}
.navbar-nav {text-transform:uppercase;}

/* BODY SETTINGS */
#page-top {background-color: #0099CC;}
body {font-family: 'Raleway';}
.page-contents {padding-top: 45px;}
.contact {padding-bottom: 50px;}
.well {background-color: #0099CC;}
.panel {background-color: #0099CC; color: #fff;}
.services {text-align:center; padding-bottom:45px;}
.services li {text-decoration:none; display:inline; padding-right:30px;}
.services li a {color: #0099CC; font-size:3em;}
.port-item {margin-bottom: 25px;}
hr.hr-line {padding:0; border:none; height:2px; border-top: medium solid #0099CC; border-bottom: medium solid #0099CC; color: #0099CC; text-align: center;}
hr.hr-line:after {content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.50em; background: white; }

/* HEADINGS */
header {position: relative; width: 100%; min-height: auto; text-align: center;}
header .header-content {position:relative; width: 100%; padding: 200px 15px; text-align: center;}
header .header-content .inner-heading h1 {margin-top: 0; margin-bottom: 0; letter-spacing: 4px; font-size: 4em; font-weight: 700; color: #fff;}
header .header-content .inner-heading hr {margin: 30px auto; max-width: 50px; border-width: 3px;}
header .header-content .inner-heading p {margin-bottom: 50px; font-size: 20px; font-weight: 300; color: #fff;}
header .header-content .outer-heading {padding-top: 30px;}
.header {background-color: #0099CC; color: #fff; height: 70px; font-size: 27px; padding: 10px;}
.page-header {letter-spacing: 2px; color: #0099CC;}
h1, h2, h3 {font-family: 'Inconsolata';}
h2 {color: #0099CC;}

/* CONTACT */
.well {padding-bottom: 35px;}

/* THE MAP */
.map {min-width: 300px; min-height: 300px; width: 100%; height: 100%;}

/* BUTTONS */
.btn-services, .btn-contact, .btn-home {font-family: 'Inconsolata';}
.btn-services {background-color: #0099CC; color: #fff; text-align: center;}
.btn-info {background-color: #0099CC;}
.btn-contact:hover {background-color: #fff; color: #0099CC;}
.btn-contact {background-color: #0099CC; border-color: #fff; color: #fff;}
.btn-home {font-size: 1.5em; background-color: #0099CC; color: #fff; border: solid 3px #fff; width:200px;}
.btn-home:hover {background-color: #fff; color: #0099CC; border-style: none;}

/* FONT AWESOME */
i {color: #0099cc;}
span.fa-stack {font-size:4em;}


/* FOOTER */
footer {margin-top:30px;}
footer .navbar-fixed-bottom, footer .navbar-static-bottom {width: 100%; height: 60px; color: #fff; background-color: #0099CC; padding-top: 20px; padding-bottom: 20px; text-align: center;}
footer .container {position: absolute; width: 100%; height: 60px; color: #fff; background-color: #0099CC; padding-top: 20px; padding-bottom: 20px; text-align: center;}
footer .navbar-fixed-bottom p.footer-info a, footer .navbar-static-bottom p.footer-info {color: #fff;}
footer .navbar-fixed-bottom p.footer-info a:hover, footer .navbar-static-bottom p.footer-info a:hover {color: #fff; text-decoration: underline;}
footer .container p.footer-info a {color: #fff;}
footer .container p.footer-info a:hover {color: #fff; text-decoration: underline;}

/* SOCIAL MEDIA LINKS */
ul.social-icon {margin: 0; padding: 0; width: 100%; text-align: center;}
ul.social-icon li {display: inline-block;}
ul.social-icon li a {display: inline-block; color: #fff; margin: 0 10px 2px 10px;}
ul.social-icon li a:hover {text-decoration: none; color: #0099CC; background-color:#fff;}

/* BLINKING CURSOR */
.blinking-cursor {
	font-weight:100; 
	color:#fff; 
	-webkit-animation:1s blink step-end infinite; 
	-moz-animation:1s blink step-end infinite; 
	-ms-animation:1s blink step-end infinite; 
	-o-animation:1s blink step-end infinite; 
	animation:1s blink step-end infinite;
}
@keyframes "blink" {
	from, to {color:transparent;}
	50%{color:#fff;}
}
@-moz-keyframes blink {
	from, to {color:transparent;}
	50%{color:#fff;}
}
@-webkit-keyframes "blink" {
	from, to {color:transparent;}
	50%{color:#fff;}
}
@-ms-keyframes "blink" {
	from, to {color:transparent;}
	50%{color:#fff;}
}

/* CUSTOM MEDIA QUERIES */
@media (max-width: 768px) {
  [class*="col-"]{margin-bottom: 25px;} /*adds space between columns in mobile view*/
}
		