/* NAVBAR SETTINGS */
#main-nav {text-transform: uppercase; background-color: #0099CC; color: #ffffff; border-color: #0099cc; -webkit-transition:all .35s; -moz-transition:all .35s; transition:all .35s;}
.navbar-default .navbar-header .navbar-brand {text-transform: uppercase; font-weight: 700; color: #ffffff;}			
.navbar-default .navbar-collapse .navbar-nav li a {color: #fff;}
.navbar-default, .navbar-collapse .navbar-nav .active a {background-color: #0099cc; text-transform: uppercase; border: solid 2px #ffffff;}

/* BODY SETTINGS */
#page-top {background-color: #0099CC;}

/* HEADINGS */
header {position: relative; width: 100%; min-height: auto; text-align: center;}
header .header-content {position:relative; width: 100%; padding: 200px 15px; text-align: center;}
header .header-content .inner-heading h1 {margin-top: 0; margin-bottom: 0; text-transform: uppercase; font-weight: 700; color: #fff;}
header .header-content .inner-heading hr {margin: 30px auto; max-width: 50px; border-width: 3px;}
header .header-content .inner-heading p {margin-bottom: 50px; font-size: 16px; font-weight: 300; color: #fff;}

/* BUTTONS */
.btn-services {background-color: #0099CC; color: #fff;}
.btn-home {background-color: #0099CC; color: #fff; border: solid, 4px #fff; width:200px;}

/* FOOTER */
footer[role="contentinfo"] {padding-top: 24px; padding-bottom: 36px; text-align: center;}

/* SOCIAL MEDIA LINKS */
ul.social {margin: 0; padding: 0; width: 100%; text-align: center;}
ul.social li {display: inline-block;}
ul.social li a {display: inline-block; color: #bfbfbf; margin: 0 3px 3px 0;}
ul.social li a:hover {text-decoration: none; color: #fff; background-color:#bfbfbf;}
		