html, body {
	height: 100%;
}

img {
	max-width: 100%;
}
.section-content {
	padding: 5rem 0;
}
#about {
	background: url('../img/woman.jpg') center center no-repeat;
	background-size: cover;
}
#about .about-text {
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 1.875rem;
}
#cover {
	background: #222 url('../img/decor.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
}
#cover-caption {
	width: 100%;
}
#cover-caption > .container > .col-sm-10 > .display-3 {
	padding-top: 150px;
}
.btn-primary {
	background-color: #9296dd;
	border-color: #fff;
}
#footer-main {
	background: #222;
	color: #fff;
	font-size 0.8rem;
	padding: 2.5rem 0;
}
