html, body {
	height: 100%;
}

img {
	max-width: 100%;
}
.section-content {
	padding: 5rem 0;
}
#about {
	background: url('../img/woman.jpg') center center no-repeat;
	background-size: cover;
}
#about .about-text {
	background: rgba(146, 150, 221, 0.8);
	color: #fff;
	padding: 1.875rem;
}
#cover {
	background: #222 url('../img/decor.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
}
#cover-caption {
	width: 100%;
}
#cover-caption > .container > .col-sm-10 > .display-3 {
	padding-top: 150px;
}
.btn-primary {
	background-color: #9296dd;
	border-color: #fff;
}
.btn-sm:hover {
	background-color: #9296dd;
	color: #fff;
}
.btn-success-outline {
	color: #9296dd;
	border-color: #9296dd;
}
.btn-success-outline:hover {
	background-color: #9296dd;
	border-color: #9296dd;
	color: #fff;
}
.btn-secondary-outline:hover {
	background-color: #9296dd;
	color: #fff;
}
.navbar > .navbar-nav > .nav-item:hover {
	color: #9296dd;
}
.navbar > .navbar-nav > .nav-item {
	color: #fff;
}
.navbar > .navbar-nav > .active {
	color: #9296dd;
}
.page-link {
	color: #9296dd;
}
.page-link:hover {
	background-color: #9296dd;
	color: #fff;
}
.social {
	color: #fff;
	border-color:#fff;
}
.card-inverse {
	background-color: #9296dd;
	color: #fff;
}
small, .text-muted {
	color: #fff;
}
.lead-card {
	background-color: #9296dd;
	color: #fff;
}
.card {
	border-color: #9296dd;
}
hr {
	color: #9296dd;
}
#footer-main {
	background: #222;
	color: #fff;
	font-size 0.8rem;
	padding: 2.5rem 0;
}
#footer-main a {
	color: #9296dd;
}
