<!DOCTYPE html>
<html lang="en">
<head>

	<title>Book App</title>

	<!-- Bootstrap CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

	<!--- Fonts ---->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

	<!-- Stylesheet -->
	<link href="css/main.css" rel="stylesheet" />

	<!-- AngularJS CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
</head>

<body ng-app="myApp">
	<div class="header">
		<div class="container">
			<h1>Book App</h1>
		</div>
	</div>
	<div class="main" ng-controller="MainController">
      <div class="container">

        <h1>{{ title }}</h1>
        <h2>{{ promo }}</h2>

        <div ng-repeat="product in products" class="col-md-6">
          <div class="thumbnail">
            <img ng-src="{{ product.cover }}">
            <p class="title">{{product.name }} </p>
            <p class="price"> {{product.price | currency}} </p>
            <p class="date">{{product.pubdate | date }} </p>
            <div class="rating">
              <p class="likes" ng-click="plusOne($index)">+ {{product.likes}}</p>
              <p class="dislikes">- {{product.dislikes}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>
    </div>

    <!--- AngularJS Scripts ---->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>