<div class="header">
		<div class="container">
			<h1>Book App</h1>
		</div>
	</div>
	<div class="main" ng-controller="MainController">
      <div class="container">

        <h1>{{ title }}</h1>
        <h2>{{ promo }}</h2>

        <div ng-repeat="product in products" class="col-md-6">
          <div class="thumbnail">
            <img ng-src="{{ product.cover }}">
            <p class="title">{{product.name }} </p>
            <p class="price"> {{product.price | currency}} </p>
            <p class="date">{{product.pubdate | date }} </p>
            <div class="rating">
              <p class="likes" ng-click="plusOne($index)">+ {{product.likes}}</p>
              <p class="dislikes">- {{product.dislikes}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>